[user]
	name = name
	email = email
[core]
	editor = vim
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[rebase]
	stat = true
	autostash = true
	missingcommitscheck = warn
